body{
    color: indigo;
    font: bold;
    text-align: center;
    width: 900px;
    height: 700px;
    margin-left: 250px;
}
.header{
    border: 5px solid pink;
    height: 150px;
}
.sidebar-left{
    width: 170px;
    height: 500px;
    border: 5px solid blue;
    margin-top : 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
}

.content{
    width: 500px;
    height: 500px;
    border: 5px solid red;
    margin-top : 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
}
.sidebar-right{
    width: 170px;
    height: 500px;
    border: 5px solid yellow;
    margin-top : 15px;
    margin-bottom: 15px;
    float: left;
}
.footer{
    border: 5px solid springgreen;
    clear: both;
}

